@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-color: #cdf;
  font-family: Nunito;
  width: 800px;
  margin: auto;
}

header,
footer {
  text-align: center;
  background-color: #457;
  color: #fff;
  padding: 10px;
}

header a,
footer a {
  text-decoration: none;
  color: #fba;
}

nav {
  width: 250px;
  float: left;
}

nav ul {
  list-style: none;
  padding: 0px;
}

nav a {
  text-decoration: none;
  color: #013;
  display: block;
  padding: 10px;
  border-bottom: 1px dotted #89b;
}

nav a:hover {
  background-color: #fba;
  color: #910;
  border-left: 10px solid #910;
}

article {
  background-color: #abd;
}

/* anak dari elemen article */
article > * {
  padding: 10px;
  margin-left: 250px;
  background-color: #fff;
  text-align: justify;
}

#sec02 figure {
  float: left;
}

#sec02 figcaption {
  text-align: center;
}

#sec04 table {
  border-collapse: collapse;
}

#sec04 td,
#sec04 th {
  border: 1px solid #89b;
  padding: 10px;
}

#sec04 th {
  background-color: #457;
  color: #fff;
}
